$price-hover: #FF0D55;
$price: #141414;
$price-old: #8F8F8F;
$text: #525252;
$text-hover: #4A6EED;
$btn: #1A45DB;
$btn-hover: #173DC2;

%mont-400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
%mont-500{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
%mont-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}




@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}